---
ecr_repo_name: "backend"    # keep it like this
dockerfile_dir: "backend"   # keep it like this
backend_path: "api"         # keep it like this
aws_region: "us-east-2"
domain_name: "devops-challenge.seudomínio.com"
frontend_bucket: "seu-nome-devops-challenge-production-website"
